<div id="slider">
  <% @perfect.each do |per| %>
    <%= image_tag per.image.url %>
  <% end %>
</div>

<div id="projects" class="transitions-enabled">
  <% @projects.each do |project| %>
    <div class="box panel panel-default">
      <%= link_to (image_tag project.image.url), project %>
      <div class="panel-body">
        <h3><%= link_to project.title, project %></h3>
        <p class="user"><%= project.user.email %></p>
      </div>
    </div>
  <% end %>
</div>
<script>
  (function() {
    $(function() {
      return $('#projects').imagesLoaded(function() {
        return $('#projects').masonry({
          itemSelector: '.box',
          isFitWidth: true
        });
      });
    });
  }).call(this);
</script>
<script>
  var slider = new IdealImageSlider.Slider({
    selector: '#slider',
    height: 400, // Required but can be set by CSS
    interval: 4000
  });
  //slider.addCaptions();
  slider.start();
</script>





