<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= @project.title %></h2>
    <p><%= @project.description %></p>
  </div>
  <div><%= link_to 'back', root_path %></div>
  <div><%= link_to 'edit', edit_project_path %></div>
</div>